div(class="flex justify-end items-center pr-16 lg:pr-0")
  a(
  href=`${githubUrl}`,
  title="GitHub repository",
  target="_blank",
  class="hidden md:block text-base font-bold text-dark dark:text-white hover:opacity-70 py-3 px-7"
  )
    include /components/icons/github
  a(
  href=`${githubUrl}`,
  title="Source code", 
  target="_blank"
  class="hidden md:block text-base font-bold text-white bg-primary py-3 px-8 md:px-9 lg:px-6 xl:px-9 hover:shadow-signUp hover:bg-opacity-90 rounded-md transition ease-in-up duration-300"
  ) GitHub
  div
    label(for="darkToggler", class="cursor-pointer w-9 h-9 md:w-14 md:h-14 rounded-full flex items-center justify-center bg-gray-2 dark:bg-dark-bg text-black dark:text-white")
      input(type="checkbox", name="darkToggler", id="darkToggler", class="sr-only", aria-label="darkToggler")
      include /components/icons/crescent-moon
      include /components/icons/sun
