doctype html
html(lang="en", class="dark")
  head
    meta(charset="utf-8")
    title= `${pageTitle} | ${pageTagline}`
    meta(name="format-detection", content="telephone=no")
    meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=1")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="robots" content="index,follow")

    link(rel="shortcut icon", href="/favicon.png")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css")
    link(rel="stylesheet", href="/css/style.css")
    style(type="text/css")
      //- customize the syntax highlighter
      | .hljs { background: #000; border-radius:10px; }

  body(class="page-body dark:bg-black")
    include /components/headers/header
    block content
    include /components/footers/footer

    a(href="javascript:void(0)", class="hidden items-center justify-center bg-primary text-white w-10 h-10 rounded-md fixed bottom-8 right-8 left-auto z-[999] hover:shadow-signUp hover:bg-opacity-80 transition duration-300 ease-in-out back-to-top shadow-md")
      span(class="w-3 h-3 border-t border-l border-white rotate-45 mt-[6px]")

    script.
      const pageLink=document.querySelectorAll(".menu-scroll");function onScroll(e){let t=document.querySelectorAll(".menu-scroll"),o=window.pageYOffset||document.documentElement.scrollTop||document.body.scrollTop;for(let l=0;l<t.length;l++){let r=t[l],c=r.getAttribute("href"),n=document.querySelector(c),s=o+73;n.offsetTop<=s&&n.offsetTop+n.offsetHeight>s?(document.querySelector(".menu-scroll").classList.remove("active"),r.classList.add("active")):r.classList.remove("active")}}pageLink.forEach(e=>{e.addEventListener("click",t=>{t.preventDefault(),document.querySelector(e.getAttribute("href")).scrollIntoView({behavior:"smooth",offsetTop:-59})})}),window.document.addEventListener("scroll",onScroll),window.document.addEventListener("DOMContentLoaded",function(){document.getElementById("darkToggler").click(); hljs.highlightAll();});

    script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js")
    script(defer, type="text/javascript", src="/js/script.js")
